# File path: /etc/systemd/system/opclink.service
# sudo systemctl daemon-reload
# sudo systemctl start opclink
# sudo systemctl enable opclink
# sudo systemctl status opclink
[Unit]
Description=One API Service
After=network.target

[Service]
User=ubuntu  # 注意修改用户名
WorkingDirectory=/path/to/opclink  # 注意修改路径
ExecStart=/path/to/opclink/opclink --port 3000 --log-dir /path/to/opclink/logs  # 注意修改路径和端口号
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
